<div class="edit-house">
  <div class="row">
    <h1>Edit 
      <span ng-hide="house.name != ''">House</span>
      <span ng-hide="house.name == ''">{{house.name}}</span> 
      at <span class="truncate">{{house.address}}</span>
    </h1>
    <p><a href="/houses/{{house._id}}">&larr; Back to View House</a></p>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div ng-show="house.forSale">
      <h2>Your House is Currently for Sale</h2>
      <div class="center">
        <form class="col s12" ng-submit="updatePrice()">
          <div class="input-field col s6">
            <input ng-model="house.price" id="house_price" type="number" class="validate" min="0">
            <label for="house_price" ng-class="{active: house.price}">Asking Price in Wei</label>
          </div>
          <div class="input-field col s6">
            <input type="submit" class="btn-large waves-effect waves-light green" value="Update Asking Price" />
          </div>
        </form>
        <div class="container">
          <button class="btn-large waves-effect waves-light light-blue darken-4" ng-click="updateForSale(false)">I want to stop selling my House</button>
        </div>
      </div>
    </div>
    <form ng-hide="house.forSale" class="col s12" ng-submit="updateForSale(true)">
      <h2>Put Your House on the Market</h2>
      <div class="input-field col s6">
        <input ng-model="house.price" id="house_price" type="number" class="validate" min="0">
        <label for="house_price" class="active">Asking Price in Wei</label>
      </div>
      <input type="submit" class="btn-large waves-effect waves-light green" value="I want to sell my House" />
    </form>
  </div>
  <div class="divider"></div>
  <div class="row">
    <h2>Update Your House Details</h2>
    <p><em>Note: these details are not stored in the blockchain</em></p>
    <form class="col s12" ng-submit="updateHouseDetails()">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="house.name" id="house_name" type="text" class="validate">
          <label for="house_name" ng-class="{active: house.name}">House Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input ng-model="house.size" id="house_size" type="number" class="validate">
          <label for="house_size" class="active">House size (sq ft)</label>
        </div>
        <div class="col s12 m6">
          <select class="browser-default" name="house_type" ng-model="house.type">
            <option value='' selected="selected">-- Select --</option>
            <option value="moveable">Moveable</option>
            <option value="stationary">Stationary</option>
          </select>
          <label for="house_type">House Type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input ng-model="house.bedrooms" id="house_bedrooms" type="number" class="validate">
          <label for="house_bedrooms" class="active">Number of Bedrooms</label>
        </div>
        <div class="input-field col s12 m6">
          <input ng-model="house.bathrooms" id="house_bathrooms" type="number" class="validate">
          <label for="house_bathrooms" class="active">Number of Bathrooms</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea ng-model="house.description" id="house_description"></textarea>
          <label for="house_description" ng-class="{active: house.description}">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="house.st_address" id="house_st_address" type="text" class="validate">
          <label for="house_st_address" ng-class="{active: house.st_address}">Street Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="house.city" id="house_city" type="text" class="validate">
          <label for="house_city" ng-class="{active: house.city}">City</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input ng-model="house.state" id="house_state" type="text" class="validate">
          <label for="house_state" ng-class="{active: house.state}">State</label>
        </div>
        <div class="input-field col s12 m6">
          <input ng-model="house.zipcode" id="house_zipcode" type="text" class="validate">
          <label for="house_zipcode" ng-class="{active: house.zipcode}">Zipcode</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn-large blue-grey" type="submit" value="Save House Details">
        </div>
      </div>
    </form>
  </div>
  <div class="divider"></div>
  <div class="row"> <!-- TODO: need to mark house as sold. If sold, show this -->
    <div class="col s12">
      <h2>Transfer Ownership</h2>
      <p>You must transfer ownership if you wish to withdraw funds for the sale of your house.  Once you do this you will no longer own this house.  This change is irreversible.</p>
      <form class="col s12" ng-submit="transferOwnership(newOwner)">
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="newOwner" id="house_owner" type="text" class="validate" required>
            <label for="house_owner">Owner</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="btn-large waves-effect waves-light red" type="submit" value="Transfer Ownership">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>