<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="center">
      <img src="../assets/blockhouses-full.png" />
    </div>
    <h1 class="header center orange-text">Introduction</h1>
    <div class="row center">
      <p>Welcome to BlockHouses.  This applications manages and displays house deeds from the Blockchain.  This allows you to track the ownership, price and for sale status of houses.</p>
      <p>Because the blockchain is immutable, this provides a secure record of the provenounce of house ownership.</p>
      <p>If you wish to purchase a house on the blockchain. You can click buy now from your unlocked account.  This will automatically transfer funds from your account to the owners account and transfer ownership of the house deed (blockchain contract) the previous owner to you.</p>
      <p>We are also tracking details about the house (such as size, location, etc) off blockchain.  This saves storage on the blockchain and allows the app to still be useful for looking at houses when a blockchain is not available to connect.</p>
      <p>If you are logged into a blockchain, you can switch accounts, view your balance, buy houses and withdraw funds from sales directly from this app.</p>
      <p>If the main app's owner has authorized you as an admin, you can create new houses and sell them.</p>
    </div>
    <div class="row center">
      <a href="/houses" id="download-button" class="btn-large waves-effect waves-light grey">View Houses</a>
    </div>
    <br><br>

  </div>
</div>