<div class="container">
  <div class="section">
    <div class="row">
      <h1>Houses</h1>
      <h4>{{status}}</h4>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col s12 m4" ng-repeat="house in houses">
        <div class="icon-block center">
          <h2 class="blue-gray-text darken-4"><i class="material-icons large">home</i></h2>
          <h5>{{house.name}}</h5>
          <p class="light"><span ng-show="house.forSale">For Sale for: {{house.price}} Wei</span>&nbsp;</p>
          <p class="light">Owner: <span class="truncate">{{house.owner}}</span></p>
          <p class="light">Address: <span class="truncate">{{house.address}}</span></p>
          <div class="row">
            <a href="/houses/{{house._id}}" id="download-button" class="btn-large waves-effect waves-light orange">View House</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>