<div class="container">
  <div class="section">
    <div class="row">
      <h4 ng-show="{{status}}">{{status}}</h4>
      <div class="col s12 l6">
        <div class="house-title" ng-show="{{house.name != ''}}">
          <h1>{{house.name}}</h1>
          <h1 class="truncate">{{house.address}}</h1>
          <p>Owned by: <span class="true">{{house.owner}}</span></p>
        </div>
        <div class="house-title" ng-show="{{house.name == ''}}">
          <h1 class="truncate">{{house.address}}</h1>
          <p>Owned by: <span class="truncate">{{house.owner}}</span></p>
        </div>
        <div class="house-sale" ng-show="house.forSale">
          <p>You can buy this house for 
            <span ng-show="selectedCurrency == 'wei'">{{house.price}} Wei.</span>
            <span ng-hide="selectedCurrency == 'wei'">{{house.priceInEth}} Ether.</span>
          </p>
          <a ng-show="selectedAccount && house.owner != selectedAccount" ng-click="buyHouse()" class="waves-effect waves-light btn-large">Buy Now</a>
        </div>
        <div class="house-edit" ng-show="house.owner == selectedAccount">
          <a class="waves-effect waves-light btn-large blue-grey" href="/houses/{{house._id}}/edit">Edit</a>
        </div>
        <div class="balanceDue" ng-show="house.yourBalance && house.yourBalance != 0">
          <p>You have an outstanding balance at this property of:<br/>
            <span ng-show="selectedCurrency == 'wei'">{{house.yourBalance}} Wei.</span>
            <span ng-hide="selectedCurrency == 'wei'">{{house.yourBalanceInEth}} Ether.</span>
          </p>
          <a class="btn-large waves-effect waves-light green" ng-click="withdraw()">Withdraw Balance</a>
        </div>
      </div>
      <div class="col s12 l6 house-sidebar">
          <img src="https://placeimg.com/640/480/arch/grayscale" width="640" height="480"/>
      </div>
    </div>
    <div class="row">
      <h2>House History</h2>
      <ul class="collection">
        <li class="collection-item" ng-repeat="event in history">
          <span class="title">
            {{event.title}} for 
            <span ng-show="selectedCurrency == 'wei'">{{event.amount}} Wei</span>
            <span ng-hide="selectedCurrency == 'wei'">{{event.amountInEth}} Ether</span>
          </span>
          <p>From: {{event.seller}}<br/>
            To: {{event.buyer}}
          </p>
        </li>
      </ul>
    </div>
    
  </div>
</div>