#logo-container img {
  height: 55px;
  background: white;
}

@media only screen and (min-width: 601px) {
  #logo-container img {
    height: 63px;
  } 
}

.house-sidebar img {
  max-width: 100%;
  max-height: 100%;
}

#account-nav {
  text-align:right;
  line-height:32px;
  height: 64px;
}

#account-nav li {
  display:block;
  float:none;
}

#account-nav select {
  background-color: transparent;
  border: none;
  display:inline-block;
  width:auto;
  height:auto;
}

.edit-house > .row{
  margin: 1.5em 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}