<div class="row">
  <div class="input-field col s12">
    <input ng-model="house.name" id="house_name" type="text" class="validate">
    <label for="house_name" ng-class="{active: house.name}">House Name</label>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <label>Is Your House For Sale?</label>
    <select ng-model="house.forSale" required class="browser-default">
      <option value="" disabled >---Select---</option>
      <option 
        ng-repeat="(option, value) in {'Yes': true, 'No': false}" 
        ng-selected="value == house.forSale" 
        value="{{value}}">
        {{option}}
      </option>
    </select>
  </div>
  <div class="input-field col s6" ng-show="house.forSale == true || house.forSale == 'true'">
    <input ng-model="house.price" id="house_price" type="number" class="validate" min="0">
    <label for="house_price" ng-class="{active: house.price}">Asking Price</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input ng-model="house.owner" id="house_owner" type="text" class="validate" required>
    <label for="house_owner" ng-class="{active: house.owner}">Owner</label>
  </div>
</div>